@media (max-width: 955px) {
	.menu li {
		margin-right: 20px;
	}
}

@media (max-width: 810px) {
	.menu li {
		display: none;
	} 
}

@media (max-width: 1383px) {
	.title_container{
		opacity: 1;
		animation: none;
		margin-left: auto;
	}
}

@media (max-width:  737px){
	.title_container h1 {
		font-size: 40px;
	}
	.title_container h4 {
		display: none;
	}
}

@media (max-width: 880px) {
	.contacts table {
		width: 600px;
		margin: auto;
		margin-top: 5%;
	}
}

@media (max-width: 895px) {
	.title_container h1{
		-webkit-text-stroke: 1px #fff;
	}
}